body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100%;
}

.left-side {
    width: 70%;
    background: url('../images/glenov-brankovic-DWp5nUqTn6E-unsplash.jpg') no-repeat center center;
    background-size: cover;
}

.right-side {
    width: 30%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: #fff; /* Light gray background */
    padding: 5% 0;
    position: relative;
}
.site-logo{
    width: 60%;
}
.container-logo{
    
}
.partner{
    position: absolute;
    bottom: 4%;
    width: 100%;
}
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.string1{

    
}
.text-align-center{
    text-align:center;
}
