<link rel='preconnect' href='https://fonts.googleapis.com'>
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
<link href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet'>


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
   /* font-weight: <weight>;*/
    font-style: normal;
}

.container-old {
    display: flex;
    height: 100vh; /* Full viewport height */
    /*height: 100%; */
    width: 100%;
}
.container {
    /*display: flex;*/
    height: 100vh; /* Full viewport height */
    /*height: 100%; */
    width: 100%;
}
.container-flex {
    display: flex;

}
.copyright{
    font-size: 0.7rem;
    width: 70%;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #2e87ca;
    border-radius: 50%;
    display: inline-block;
  }
  .heat-bars-img{
    width: 70%;
  }
.left-side {
    width: 70%;
    background: url('../images/glenov-brankovic-DWp5nUqTn6E-unsplash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
.left-side-last {
    width: 70%;
    background: url('../images/sebastien-gabriel-igK8lcBHaHE-unsplash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
.left-side-ourmission{
    background-color: #ff0000; /* Light gray background */
    width: 50%;
    position: relative;
}
.left-side-data{
    width: 70%;
}
.layer {
    background-color: rgba(248, 247, 216, 0.7);
    background-color:#461262d6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line-dot-1{
    /*text-align: right;*/
}
.line-dot-2{
    text-align: right;
}

.line-waste-left{
    /*border:1px solid gray;*/
   /* width: 3px;*/
    height: 99px;
    position:relative;
}
.line-waste-right{
    /*border:1px solid gray;*/
    /*width: 244px;*/
    height: 99px;
    position:relative;
}
.line-waste-left:after{
    content:'';
    position:absolute;
    border-top:3px solid #2e87ca;
    width: 145px;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
    top:100px;
    left:10px;
}
.line-waste-right:after{
    content:'';
    position:absolute;
    border-top:3px solid #2e87ca;
    width: 145px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    top:0px;
    left:10px;
}
.line-logo{
    border-bottom:2px solid #9e6eb7;
   /* margin:36px 0;*/
}

.line-logo-text{
    position:relative;
    width: 100%;
}
.line-logo-text:after{
    content:'';
    position:absolute;
    border-top:2px solid #9e6eb7;
    width: 100%;
    left:0;
    top:23px;
}

.line-logo-text-1{
    font-weight: 700;
    color: #9e6eb7;
    font-size: 1.4rem;
    padding: 0px 30px;
}
.line-logo-text-2{
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0px 14px;
    letter-spacing: 0.3em;
}
.logo-last-right{
    padding: 32px 0;
}
.container-line-logo-left{
    width: 80%;
}
.container-line-logo-right{
    width: 20%;
}
.container-text1{
    background-color:#7723a4b0;
    color:#fff;
    width: 100%;
    height: 100%;
    padding: 0 5%;
} 
.container-text2{
    color:#fff;
    width: 100%;
    height: 100%;
    padding: 67px 67px;
  
} 
.container-data-text1{
    color:#000;
    width: 100%;
    height: 100%;
    padding: 81px 60px;
} 
.container-line-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.data-text-table{
    padding: 36px 0 0 0;
}
.data-text-1{
    font-weight: 700;
    font-size: 1.3rem;
}
.data-text-2{
    font-size: 1.1rem;
    padding: 36px 0 0 0;
    width:86%;
}
.data-text-3{
    font-size: 0.9rem;
}
.data-text-right-1{
    font-size: 0.9rem;
    padding: 7px 0;
   /* width:80%;*/
}
.data-track{
    padding: 20px 0;
}
.data-right-img{
    padding: 17px 0 0 0;
    width:140px;
}
.data-text-right-1 span{
    font-weight: 700;
}

.report-text{
    padding: 20px 0 0 0;
}
.table-waste{
    padding: 12px 0;
    width: 90%;
}
.table-waste table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 14px 36px 6px 11px;
  }
.table-waste th, td {
    /*padding: 15px;*/
}
.table-waste th{
    background: #8ec343;
    font-size: 0.9rem;
    color:#fff;
}
.table-waste td{
    background: #e7f1d7;
    font-size: 0.8rem;
}

.text1{
    padding: 9% 0 0 0;
    font-weight: 700;
    font-size: 2.9rem;
    letter-spacing: 0.3em;
    line-height: 137%;
    word-spacing:9999px;
}
.text2{
    padding: 9% 0 0 0;
    font-weight: 800;
    font-size: 1.6rem;
    
}
.text3{
    padding: 1% 0 0 0;
    font-weight: 300;
    font-size: 2.1rem;
}
.text4{
    padding: 3% 0 0 0;
    font-weight: 300;
    font-size: 1.6rem;
}
.text4 span{
    font-weight: 600;
}
.text-last-right-1{
    padding: 30px 0 0 0;
    font-weight: 400;
}
.text-last-right-1{
    margin: 77px 0 0 67px;
    font-size: 0.7rem;
}
.text-last-right-1 span{
    padding: 30px 0 0 0;
    font-size: 2.6rem;
}
.text-last-img-1{
    font-weight: 400;
}
.text-last-img-1 span{
    font-weight: 800;
}

.text-mission-1{
    padding: 30px 0 0 0;
    font-weight: 800;
    font-size: 2.6rem;
}

.text-mission-2{
    padding: 20px 0 0 0;
    font-weight: 400;
    font-size: 1.5rem;
    width: 67%;
}
.text-last-1{
    padding: 83px 0 0 0;
    font-weight: 800;
}
.text-last-2{
    /*padding: 83px 0 0 0;*/
    font-weight: 400;
    width:80%;
}
.triangle-img{
    width: 60%;
}
.right-side {
    width: 30%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: #fff; /* Light gray background */
    padding: 5% 0;
    position: relative;
}
.right-side-last {
    width: 30%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: #fff; /* Light gray background */
    position: relative;
}
.right-side-ourmission {
    width: 50%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: #fff; /* Light gray background */
    padding: 5% 0;
    position: relative;
}
.site-logo{
    width: 60%;
}
.site-logo-1{
    width: 80%;
}
.container-logo{
    
}
.partner-text{
    font-weight: 800;
    position: absolute;
    bottom: 27%;
    width: 100%;
}
.partner{
    position: absolute;
    bottom: 4%;
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.string1{

    
}
.text-align-center{
    text-align:center;
}
.tonnage{
    /*width: 70%;*/
   /* background: url('../images/tonnage_weight.png') no-repeat center center;*/
   /* background-size: cover;*/
   /* height: 120px;*/
    position: relative;
   /* padding: 17px 0 0 0;*/
}
.data-text-tonnage{
    font-size: 1 rem;
    font-weight: 700;
    color: #ff4d3b;
    position: absolute;
    top: 60px;
    left: 155px;
    width: 100px;
}
.waste-text-1{
    padding: 116px 0 0 0;
    font-size: 20px;
    text-align: center;
}
.waste-text-2{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color:#4c4c4c;
}
.waste-container{
    display: flex;
    justify-content: center;
    height: 143px;
}
.waste-container-2{
    display: flex;
    justify-content: center;
    height: 104px;
}
.waste-width{
    width: 122px;
    height: 99px;
}
.waste-width-2{
    width: 50%;
    text-align: center;
}
.width-50-procent{
    width: 50%;
}
