body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
   /* font-weight: <weight>;*/
    font-style: normal;
}

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100%;
}

.left-side {
    width: 70%;
    background: url('../images/glenov-brankovic-DWp5nUqTn6E-unsplash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
.left-side-ourmission{
    background-color: #ff0000; /* Light gray background */
    width: 50%;
    position: relative;
}
.layer {
    background-color: rgba(248, 247, 216, 0.7);
    background-color:#461262d6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #2e87ca;
  border-radius: 50%;
  display: inline-block;
}
.line-dot-1{
    /*text-align: right;*/
}
.line-dot-2{
    text-align: right;
}
.waste-width{
    width: 122px;
    height: 99px;
}
.waste-width-2{
    width: 244px;
    text-align: center;
}
.line-waste-left{
    /*border:1px solid gray;*/
   /* width: 3px;*/
    height: 99px;
    position:relative;
}
.line-waste-right{
    /*border:1px solid gray;*/
    /*width: 244px;*/
    height: 99px;
    position:relative;
}
.line-waste-left:after{
        content:"";
        position:absolute;
        border-top:3px solid #2e87ca;
        width: 145px;
        transform: rotate(-45deg);
        transform-origin: 0% 0%;
        top:100px;
        left:10px;
}
.line-waste-right:after{
    content:"";
    position:absolute;
    border-top:3px solid #2e87ca;
    width: 145px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    top:0px;
    left:10px;
}
.container-text1{
    background-color:#7723a4b0;
    color:#fff;
    width: 100%;
    height: 100%;
    padding: 0 5%;
  
} 
.container-text2{
    color:#fff;
    width: 100%;
    height: 100%;
    padding: 67px 67px;
  
} 
.container-line-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.line-logo{
    border-bottom:2px solid #9e6eb7;
   /* margin:36px 0;*/
}

.line-logo-text{
    position:relative;
    width: 100%;
}
.line-logo-text:after{
    content:"";
    position:absolute;
    border-top:2px solid #9e6eb7;
    width: 100%;
    left:0;
    top:10px;
}

.line-logo-text-1{
    font-weight: 700;
    color: #9e6eb7;
    font-size: 1.4rem;
    padding: 0px 30px;
}
.line-logo-text-2{
    font-weight: 700;
    font-size: 0.8rem;
    padding: 0px 14px;
}
.report-text{
    /*padding: 20px 0 0 0;*/
}
.text1{
    padding: 9% 0 0 0;
    font-weight: 700;
    font-size: 2.9rem;
    letter-spacing: 0.3em;
    line-height: 137%;
    word-spacing:9999px;
}
.text2{
    padding: 9% 0 0 0;
    font-weight: 800;
    font-size: 1.6rem;
    
}
.text3{
    padding: 1% 0 0 0;
    font-weight: 300;
    font-size: 2.1rem;
}
.text4{
    padding: 3% 0 0 0;
    font-weight: 300;
    font-size: 1.6rem;
}
.text4 span{
    font-weight: 600;
}
.text-mission-1{
    padding: 30px 0 0 0;
    font-weight: 800;
    font-size: 2.6rem;
}

.text-mission-2{
    padding: 20px 0 0 0;
    font-weight: 400;
    font-size: 1.5rem;
    width: 58%;
}
.right-side {
    width: 30%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: #fff; /* Light gray background */
    padding: 5% 0;
    position: relative;
}
.right-side-ourmission {
    width: 50%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: #fff; /* Light gray background */
    padding: 5% 0;
    position: relative;
}
.site-logo{
    width: 60%;
}
.container-logo{
    
}
.partner-text{
    font-weight: 800;
    position: absolute;
    bottom: 27%;
    width: 100%;
}
.partner{
    position: absolute;
    bottom: 4%;
    width: 100%;
}
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.string1{

    
}
.text-align-center{
    text-align:center;
}
.waste-text-1{
    padding: 116px 0 0 0;
    font-size: 20px;
    text-align: center;
}
.waste-text-2{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color:#4c4c4c;
}
.waste-container{
    display: flex;
    justify-content: center;
    height: 143px;
}
.waste-container-2{
    display: flex;
    justify-content: center;
    height: 104px;
}
